{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <h1>Log in</h1>
    <form action="{{ url_for('login') }}" method="post">

        <div class="form-row align-items-center">

          <div class="col-auto">
            <input type="text" class="form-control mb-2" id="inlineFormInput" name="username" placeholder="Username">
          </div>

          <div class="col-auto">
            <input type="password" class="form-control mb-2" id="exampleInputPassword1" name="password" placeholder="Password">
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Log in</button>
          </div>
          
        </div>

      </form>
{% endblock %}