{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
<a href="{{ url_for('logout') }}"><button class='btn btn-sm btn-outline-secondary float-right'>Logout</button></a>
{% if param == 'search' %}
    <h1>Search for a book</h1>
    <form action="{{ url_for('search') }}" method="post">
        <div class="form-row align-items-center">
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="isbn" checked>
                    <label class="form-check-label" for="inlineRadio1">ISBN number</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="title">
                    <label class="form-check-label" for="inlineRadio2">Title</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="author">
                    <label class="form-check-label" for="inlineRadio3">Author</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput" name="search" placeholder="ISBN/Title/Author">
        </div>        
        <button type="submit" class="btn btn-primary">Search</button>

    </form>

{% else %}
<a href="{{ url_for('search') }}"><button class='btn btn-outline-success float-right'>New search</button></a>
    <h1>Possible matching results</h1>
    <ul class="list-group">
        {% if option == 'isbn' %}
            {% for res in results %}
            <li class="list-group-item">
                <a href="{{ url_for('book', isbn=res.isbn) }}">
                    {{ res.isbn }}
                </a>
            </li>
            {% endfor %}
        {% elif option == 'title' %}
            {% for res in results %}
            <li class="list-group-item">
                <a href="{{ url_for('book', isbn=res.isbn) }}">
                    {{ res.title }}
                </a>
            </li>
            {% endfor %}
        {% elif option == 'author' %}
            {% for res in results %}
            <li class="list-group-item">
                <a href="{{ url_for('book', isbn=res.isbn) }}">
                    {{ res.author }}
                </a>
            </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endif %}

{% endblock %}