$color: antiquewhite;
$padding-top: 30px;

#intro {
    text-align: center;
    padding: $padding-top;
}

img {
    max-width: 35%;
}

ul {
    padding-top: 10px;
}

@media print {
    nav {
        display: none;
    }
}

.media {
    padding: 50px;    
}

.bold {
    font-weight: bold;
}

.col-lg-6 {
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
}

.progress {
    width: 100%;
}
