{% extends "orders/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'orders/checkout.js' %}"></script>
{% endblock %}

{% block title %}
    Checkout
{% endblock %}

{% block body %}
<div class='float-right'>
    <a href="{% url 'index' %}"><button class='btn btn-success'>Menu</button></a>
    <a href="{% url 'logout' %}"><button class='btn btn-light'>Logout</button></a>
</div>
<h1>Here is your order:</h1>
<table class="table table-hover" id="checkout">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Option(s)</th>
            <th scope="col">Size</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for o in orders %}
        <tr>
            <th scope="row">{{ o.choice }} <button class="badge badge-primary" type="button" data-order="{{ o.id }}" name="remove">-</span></th>
            <td>
                {{ o.option }} 
                {% if o.extra1 %}
                    <small class="text-muted">
                        With extra: 
                        <ul>
                            <li>{{ o.extra1 }}</li>     
                            {% if o.extra2 %}
                                <li>{{ o.extra2 }}</li> 
                                {% if o.extra3 %}
                                    <li>{{ o.extra3 }}</li> 
                                    {% if o.extra4 %}
                                        <li>{{ o.extra4 }}</li> 
                                        {% if o.extra5 %}
                                            <li>{{ o.extra5 }}</li> 
                                        {% endif %}                            
                                    {% endif %}                            
                                {% endif %}                            
                            {% endif %}                            
                        </ul>
                    </small>
                {% endif %}
            </td>
            <td>{{ o.size }}</td>
            <td class="price" data-price="{{ o.price }}">{{ o.price|floatformat:2 }}$</td>
        </tr>
        {% endfor %}
        <tr class="table-active">
            <th scope="row">Total</th>
            <td></td>
            <td></td>
            <th id="total"></th>
        </tr>
    </tbody>
</table>
<div class="col-auto">
    <a href="{% url 'placed' %}">
        <button class="btn btn-primary btn-lg float-right" type="submit" onclick=orderPlaced()>
            Purchase
        </button>
    </a>
</div>
{% endblock %}