{% extends "layout.html" %}

{% block title %}
    Hello
{% endblock %}

{% block script %}
<script>
document.addEventListener('DOMContentLoaded', () => {

  // To prevent submitting empty channel name
  document.querySelector('button').disabled = true;

  document.querySelector('input').onkeyup = () => {
    if (document.querySelector('input').value.length > 0)
      document.querySelector('button').disabled = false;
    else
      document.querySelector('button').disabled = true;
    }
});
</script>
{% endblock %}

{% block body %}
    <h1>Welcome</h1>
    <h3>Type in your display name</h3>
    <form action="{{ url_for('login') }}" method="post">

        <div class="form-row align-items-center">
          <div class="col-auto">
            <input type="text" autofocus class="form-control mb-2" id="inlineFormInput" name="username" placeholder="">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Enter</button>
          </div>        
        </div>
  
      </form>
{% endblock %}